body.no-header.no-footer {
  background-color: #eefffc !important;
}
body.no-header.no-footer .content-bg {
  background-color: #eefffc !important;
}
body.no-header.no-footer .entry-content-wrap {
  padding: 0px;
}
.intro-header .kt-inside-inner-col span {
  display: inline-block !important;
}
.section-get-started {
  position: relative;
}
.section-get-started::after,
.section-get-started::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #eefffc;
  max-width: 658px;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  right: 0;
}
.section-get-started::before {
  top: -5px;
}
.section-get-started::after {
  bottom: -5px;
}
.work-img-sm-1 {
  display: none;
}
.how-work-content > .kt-has-2-columns > .wp-block-kadence-column {
  z-index: unset;
}
.work-img-sm-2 {
  display: none;
}
.work-img-1 {
  position: absolute !important;
  left: -22%;
  transform: translate(-2%, 38%);
}
.hiw-box {
  z-index: 2;
  position: relative;
}
.work-img-2 {
  position: absolute !important;
  left: -22%;
  transform: translate(-3%, 0%);
}
.how-work-content .kt-blocks-info-box-text {
  text-align: left;
}
.hiw-box .kt-blocks-info-box-text span {
  display: inline-block;
  padding-bottom: 12px;
  position: relative;
  padding-left: 20px;
}
.hiw-box .kt-blocks-info-box-text span::before {
  position: absolute;
  content: "";
  background: #000;
  height: 6px;
  width: 6px;
  border-radius: 999px;
  top: 26%;
  left: 0px;
}
@media screen and (max-width: 1108px) {
  .ppc-landing-header-title {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 1024px) {
  .work-img-1 {
    left: -16%;
  }
}
@media screen and (max-width: 951px) {
  .ppc-landing-header-title {
    font-size: 24px !important;
  }
  .header-title-right-section .kt-inside-inner-col {
    padding-top: 26px !important;
  }
}
@media screen and (max-width: 767px) {
  .ppc-landing-page-banner-highlights {
    max-width: 250px;
  }
  .how-work-content p {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .header-title-right-section .sm-mx-auto {
    margin: 0px auto !important;
  }
  .ppc-landing-page-banner-image {
    display: block;
    margin: 0px auto;
    margin-top: 14px !important;
  }
  .ppc-landing-page-banner-image figure {
    margin-right: 0px !important;
  }
  .ppc-landing-page-banner-image img {
    max-width: 100px;
  }
  .ppc-landing-page-banner-highlights .kt-inside-inner-col {
    padding-left: 0px !important;
    align-items: flex-start !important;
  }
  .header-title-right-section .kt-inside-inner-col {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
  }
  .header-title-right-section .banner-title {
    padding-bottom: 0px !important;
  }
  .work-img-sm-2 {
    display: block;
  }
  .banner-image-left-section img {
    width: 100%;
  }
  .work-img-2 {
    position: absolute !important;
    top: 29%;
    transform: translate(-50%, -115%);
    left: 114px;
    z-index: -1;
  }
  .work-img-sm-1 {
    position: absolute !important;
    transform: translate(23%, -88%);
    left: 58%;
  }
  .work-img-sm-2 {
    position: absolute !important;
    transform: translate(-50%, -50%);
    top: 84%;
    left: 25%;
  }
  .banner-image-left-section figure {
    width: 100%;
  }
  .work-second-child {
    margin-left: auto;
  }
  .how-work-content {
    max-width: 355px;
    display: flex;
  }
  .how-work-content .kt-row-column-wrap {
    width: 100%;
  }
  .how-work-content > .wp-block-kadence-column {
    z-index: 2 !important;
  }
  .banner-btn {
    justify-content: center !important;
  }
  .ppc-landing-page-how-its-work .kt-inside-inner-col {
    justify-content: center;
    align-items: center;
  }
  .ppc-landing-page-how-its-work .how-work-content {
    width: 100%;
  }
  .work-img-1 {
    position: absolute !important;
    top: -133%;
    transform: translate(-50%, -50%);
    right: -64px;
  }
  .ppc-landing-page-how-its-work .kt-blocks-info-box-media {
    padding-bottom: 0px;
  }
  .ppc-landing-page-how-its-work
    .kadence-info-box-image-inner-intrisic-container {
    max-width: 50px !important;
    padding-bottom: 0px;
  }
  .ppc-landing-page-how-its-work .wp-block-kadence-infobox {
    max-width: 224px;
  }
  .ppc-landing-page-how-its-work .work-img-1 {
    display: none;
  }
  .ppc-landing-page-how-its-work .work-img-2 {
    display: none;
  }
  .ppc-landing-page-faq-section .kt-accordion-panel-inner h5 {
    line-height: 20px !important;
    font-size: 15px !important;
  }
  .ppc-landing-page-faq-section ul li {
    line-height: 20px !important;
    font-size: 15px !important;
  }

  .ppc-landing-page-faq-section ul {
    padding-left: 18px !important;
  }
  .ppc-landing-page-logo-section img {
    max-width: 162px;
  }
  .work-img-sm-1 {
    display: block;
  }
  .section-get-started .kt-inside-inner-col {
    background-color: transparent !important;
  }
  .section-get-started::after,
  .section-get-started::before {
    display: none;
  }
  .banner-btn {
    max-width: 186px;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .header-title-right-section .kt-inside-inner-col {
    padding-left: 0px !important;
  }
}

/* chat bot */
.chat-bot .intro-header .kt-inside-inner-col span {
  display: inline-block !important;
}
.chat-bot .section-get-started {
  position: relative;
}
.chat-bot .section-get-started::after,
.chat-bot .section-get-started::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #eefffc;
  max-width: 658px;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  right: 0;
}
.chat-bot .section-get-started::before {
  top: -5px;
}
.chat-bot .section-get-started::after {
  bottom: -5px;
}
.chat-bot .work-img-sm-1 {
  display: none;
}
.chat-bot .how-work-content > .kt-has-2-columns > .wp-block-kadence-column {
  z-index: unset;
}
.chat-bot .work-img-sm-2 {
  display: none;
}
.chat-bot .work-img-1 {
  position: absolute !important;
  left: -22%;
  transform: translate(-2%, 38%);
}
.chat-bot .hiw-box {
  z-index: 2;
  position: relative;
}
.chat-bot .work-img-2 {
  position: absolute !important;
  left: -22%;
  transform: translate(-3%, 0%);
}
.chat-bot .how-work-content .kt-blocks-info-box-text {
  text-align: left;
}
.chat-bot .hiw-box .kt-blocks-info-box-text span {
  display: inline-block;
  padding-bottom: 12px;
  position: relative;
  padding-left: 20px;
}
.chat-bot .hiw-box .kt-blocks-info-box-text span::before {
  position: absolute;
  content: "";
  background: #000;
  height: 6px;
  width: 6px;
  border-radius: 999px;
  top: 10px;
  left: 0px;
}
.chat-bot .hiw-box .kt-blocks-info-box-text {
  text-align: left !important;
}
.chat-bot .book-appointment-card {
  position: relative;
}
.chat-bot .hiw-right-shape {
  position: absolute;
  top: 72%;
  right: 25px;
}
.chat-bot .match-with-doctor-card {
  position: relative;
}
.chat-bot .hiw-left-shape {
  position: absolute;
  top: 66%;
  left: 11%;
}
.chat-bot .ppc-landing-page-faq-section .kt-accordion-panel-inner {
  padding-left: 43px;
  padding-right: 43px;
}

.chat-bot .ppc-landing-page-faq-section .kt-accordion-panel-inner ul {
  padding-left: 22px;
}

@media screen and (max-width: 1432px) {
  .chat-bot > .wp-block-group__inner-container {
    width: 100%;
  }
  .chat-bot .section-left-content {
    max-width: 100%;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1380px) {
  .get-started-row > .kt-row-column-wrap {
    column-gap: 45px !important;
  }
}

@media screen and (max-width: 1346px) {
  .chat-bot .hiw-left-shape {
    left: 6%;
  }
}

@media screen and (max-width: 1108px) {
  .chat-bot .ppc-landing-header-title {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 1024px) {
  .chat-bot .work-img-1 {
    left: -16%;
  }
}
@media screen and (max-width: 951px) {
  .chat-bot .ppc-landing-header-title {
    font-size: 24px !important;
  }
  .chat-bot .header-title-right-section .kt-inside-inner-col {
    padding-top: 26px !important;
  }
}
@media screen and (max-width: 767px) {
  .chat-bot .ppc-landing-page-banner-highlights {
    max-width: 250px;
  }
  .chat-bot .how-work-content p {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .chat-bot .header-title-right-section .sm-mx-auto {
    margin: 0px auto !important;
  }
  .chat-bot .ppc-landing-page-banner-image {
    display: block;
    margin: 0px auto;
    margin-top: 14px !important;
  }
  .chat-bot .ppc-landing-page-banner-image figure {
    margin-right: 0px !important;
  }
  .chat-bot .ppc-landing-page-banner-image img {
    max-width: 100px;
  }
  .chat-bot .ppc-landing-page-banner-highlights .kt-inside-inner-col {
    padding-left: 0px !important;
    align-items: flex-start !important;
  }
  .chat-bot .header-title-right-section .kt-inside-inner-col {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
  }
  .chat-bot .header-title-right-section .banner-title {
    padding-bottom: 0px !important;
  }
  .chat-bot .work-img-sm-2 {
    display: block;
  }
  .chat-bot .banner-image-left-section img {
    width: 100%;
  }
  .chat-bot .work-img-2 {
    position: absolute !important;
    top: 29%;
    transform: translate(-50%, -115%);
    left: 114px;
    z-index: -1;
  }
  .chat-bot .work-img-sm-1 {
    position: absolute !important;
    transform: translate(24%, -73%);
    left: 44%;
  }
  .chat-bot .work-img-sm-2 {
    position: absolute !important;
    transform: translate(-50%, -50%);
    top: 94%;
    left: 14%;
  }
  .chat-bot .banner-image-left-section figure {
    width: 100%;
  }
  .chat-bot .work-second-child {
    margin-left: auto;
  }
  .chat-bot .how-work-content {
    max-width: 355px;
    display: flex;
  }
  .chat-bot .how-work-content .kt-row-column-wrap {
    width: 100%;
  }
  .chat-bot .how-work-content > .wp-block-kadence-column {
    z-index: 2 !important;
  }
  .chat-bot .banner-btn {
    justify-content: center !important;
  }
  .chat-bot .ppc-landing-page-how-its-work .kt-inside-inner-col {
    justify-content: center;
    align-items: center;
  }
  .chat-bot .ppc-landing-page-how-its-work .how-work-content {
    width: 100%;
  }
  .chat-bot .work-img-1 {
    position: absolute !important;
    top: -133%;
    transform: translate(-50%, -50%);
    right: -64px;
  }
  .chat-bot .ppc-landing-page-how-its-work .kt-blocks-info-box-media {
    padding-bottom: 0px;
  }
  .chat-bot
    .ppc-landing-page-how-its-work
    .kadence-info-box-image-inner-intrisic-container {
    max-width: 50px !important;
    padding-bottom: 0px;
  }
  .chat-bot .ppc-landing-page-how-its-work .wp-block-kadence-infobox {
    max-width: 224px;
  }
  .chat-bot .ppc-landing-page-how-its-work .work-img-1 {
    display: none;
  }
  .chat-bot .ppc-landing-page-how-its-work .work-img-2 {
    display: none;
  }
  .chat-bot .ppc-landing-page-faq-section .kt-accordion-panel-inner h5 {
    line-height: 20px !important;
    font-size: 15px !important;
  }
  .chat-bot .ppc-landing-page-faq-section ul li {
    line-height: 20px !important;
    font-size: 15px !important;
  }

  .chat-bot .ppc-landing-page-faq-section ul {
    padding-left: 18px !important;
  }
  .chat-bot .ppc-landing-page-logo-section img {
    max-width: 162px;
  }
  .chat-bot .work-img-sm-1 {
    display: block;
  }
  .chat-bot .section-get-started .kt-inside-inner-col {
    background-color: transparent !important;
  }
  .chat-bot .section-get-started::after,
  .chat-bot .section-get-started::before {
    display: none;
  }
  .chat-bot .banner-btn {
    max-width: 186px;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .chat-bot .header-title-right-section .kt-inside-inner-col {
    padding-left: 0px !important;
  }
}
.chat-bot .content-wrapper {
  width: calc(100% - 626px);
  margin-left: 0px;
}
.chat-bot .chat-bot-main {
  max-width: 590px;
  width: 100%;
  margin-right: 20px;
  margin-left: auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 16px;
}
.chat-bot .chat-bot-wrapper {
  position: fixed;
  z-index: 2;
  width: inherit;
  max-width: inherit;
  bottom: 40px;
  top: 220px;
  border-radius: 16px;
  overflow: hidden;
  padding-top: 18px;
  padding-bottom: 18px;
  background: #fff;
}
.chat-bot .chat-bot-inner-wrapper {
  height: 100%;
  overflow-y: scroll;
}

.chat-bot .chat-bot-inner-wrapper::-webkit-scrollbar {
  display: none;
}

.chat-bot .chat-bot-inner-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat-bot > .wp-block-group__inner-container {
  max-width: 1405px;
  margin: 0px auto;
}
.chat-bot .section-left-content {
  max-width: 1405px;
}
.chat-bot .chat-bot-container {
  max-width: 100%;
}

@media screen and (max-width: 1300px) {
  .chat-bot .chat-bot-main {
    max-width: 440px !important;
  }
  .chat-bot .content-wrapper {
    width: calc(100% - 484px) !important;
  }
}

@media screen and (max-width: 1100px) {
  .chat-bot .chat-bot-main {
    max-width: 362px !important;
  }
  .chat-bot .content-wrapper {
    width: calc(100% - 402px) !important;
  }
}

@media screen and (max-width: 1024px) {
  .chat-bot .chat-bot-main {
    max-width: 96% !important;
    margin: auto;
  }
  .chat-bot .chat-bot-wrapper {
    position: unset;
  }
  .chat-bot .section-left-content {
    max-width: 100% !important;
    padding-left: 0px;
  }

  .chat-bot .content-wrapper {
    width: unset !important;
  }
  .chat-bot .work-img-1 {
    transform: translate(-15%, -79%);
  }
  .chat-bot .work-img-1 {
    left: 52%;
  }
  .chat-bot .work-img-2 {
    transform: translate(138%, 0%);
  }
}

@media screen and (max-width: 890px) {
  .chat-bot .work-img-2 {
    transform: translate(115%, 0%);
  }
}

@media screen and (max-width: 800px) {
  .chat-bot .work-img-2 {
    transform: translate(99%, 0%);
  }
}

@media screen and (max-width: 767px) {
  .chat-bot .content-wrapper .section-how-its-work {
    width: 100%;
    max-width: 356px;
  }
  .chat-bot .match-with-doctor-card > .kt-inside-inner-col {
    margin-right: 0px;
    margin-left: auto;
  }
  .chat-bot .get-medical-card > .kt-inside-inner-col {
    margin-left: 0px;
    margin-right: auto;
  }
  .get-started-row > .kt-row-column-wrap {
    column-gap: 8px !important;
  }
  .chat-bot .ppc-landing-page-faq-section .kt-accordion-panel-inner ul {
    padding-left: 8px;
    padding-right: 8px;
  }
  .chat-bot .ppc-landing-page-faq-section .kt-accordion-panel-inner {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*  medical-card-pa-wrapper */

.p-relative {
  position: relative;
}
/* header */
.site-header-row-layout-fullwidth {
  max-width: 1790px;
  position: fixed !important;
  width: calc(100% - 160px);
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
}
.hero-image {
  height: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.entry-content .wp-block-group.has-background.medical-card-pa-wrapper {
  padding: 0px 0px;
}
.medical-card-pa-wrapper .hero-section-wrapper .kt-row-column-wrap {
  display: flex;
  align-items: center;
}

@media (min-width: 1025px) {
  .medical-card-pa-wrapper .left-content-wrapper {
    width: 60% !important;
  }
}

.medical-card-pa-wrapper .kt-blocks-accordion-header:focus {
  background: white;
}

.medical-card-pa-wrapper .about-us-image-wrapper {
  height: 336px;
  border-radius: 24px;
}
.medical-card-pa-wrapper .about-us-image-wrapper img {
  object-fit: cover;
  height: 336px;
  width: 100%;
}

.medical-card-pa-wrapper .about-us > div > figure > picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.medical-card-pa-wrapper
  .kt-accordion-id72457_cf8ef7-0f
  .kt-accordion-header-wrap
  .kt-blocks-accordion-header.kt-accordion-panel-active {
  border-radius: 24px 24px 0px 0px;
}

.medical-card-pa-wrapper .kt-blocks-accordion-header.kt-accordion-panel-active {
  border-radius: 24px 24px 0px 0px !important;
}
@media (max-width: 1536px) {
  .site-header-row-layout-fullwidth {
    width: calc(100% - 48px);
  }
}
@media (min-width: 1280px) {
  .medical-card-pa-wrapper .hero-section {
    padding-top: 300px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1280px) {
  .medical-card-pa-wrapper .hero-section {
    padding-top: 170px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .medical-card-pa-wrapper .hero-section {
    padding-top: 110px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1025px) {
  .medical-card-pa-wrapper .medical-card-pa-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 90%;
    border-top-left-radius: 24px !important;
    border-top-right-radius: 24px !important;
    top: 0;
  }
  .medical-card-pa-wrapper .hero-section-wrapper .kt-row-column-wrap {
    flex-direction: column;
  }
  .medical-card-pa-wrapper .info-box-wrapper .kt-row-column-wrap {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
  /* .medical-card-pa-wrapper .right-image-wrapper {
    width: 40%;
    height: 410px;
  } */

  .medical-card-pa-wrapper .right-image-wrapper img {
    max-height: 410px;
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .medical-card-pa-wrapper .icon-btn > span {
    gap: 16px !important;
  }

  @media (max-width: 1024px) {
    .medical-card-pa-wrapper .right-image-wrapper {
      height: 311px;
    }
    .medical-card-pa-wrapper .icon-btn > span {
      gap: 8px !important;
    }

    .medical-card-pa-wrapper .right-image-wrapper img {
      max-height: 311px;
    }
    .medical-card-pa-wrapper .about-us-image-wrapper {
      border-radius: 16px !important;
    }
  }

  .medical-card-pa-wrapper .testimonial-design {
    border-radius: 24px;
  }
  .medical-card-pa-wrapper .about-us-image-wrapper {
    height: 328px;
  }
  .medical-card-pa-wrapper .about-us-image-wrapper img {
    max-height: 328px;
  }
  .site-header-row-layout-fullwidth {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .medical-card-pa-wrapper .info-box-wrapper .kt-row-column-wrap {
    grid-template-columns: minmax(0, 1fr);
  }
  .medical-card-pa-wrapper .book-your-appointment .kt-row-column-wrap {
    grid-template-columns: minmax(0, 1fr) 1fr;
  }
  .medical-card-pa-wrapper .about-us-image-wrapper {
    height: 210px;
  }
  .medical-card-pa-wrapper .about-us-image-wrapper img {
    max-height: 210px;
  }
}
.medical-card-pa-wrapper .medical-card-pa-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 90%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  top: 0;
}

.medical-card-pa-wrapper .info-box .kt-inside-inner-col {
  height: 100%;
}

.medical-card-pa-header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}
.medical-card-pa-wrapper .ppc-banner-img-wrapper {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.medical-card-pa-wrapper .ppc-banner-img-wrapper .kt-inside-inner-col {
  height: 100vh;
  max-height: 1080px;
}
.medical-card-pa-wrapper .ppc-banner-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.medical-card-pa-wrapper .hero-cta-btn {
  width: 100% !important;
}

.medical-card-pa-wrapper .about-us {
  height: 100% !important;
}

.medical-card-pa-wrapper .about-us .kt-inside-inner-col {
  height: 100% !important;
  justify-content: center !important;
  display: flex !important
;
}

.medical-card-pa-wrapper .footer-content {
  flex: auto !important;
}
